<!-- <form method="POST" action="">
	{% csrf_token %}
	<input type="text" name="username" placeholder="Username..." class="form-control">
	<input type="password" name="password" placeholder="Password..." class="form-control" >
	<input class="btn login_btn" type="submit" value="Login">
</form> -->
<!DOCTYPE html>
<html lang="en">
<head>
	<style>
		body {
            background-color: red;
        }

		.login{width: 320px;
			height: 430px;
			background: rgba(0, 0, 0, 0.5);
			color: white;
			top: 50%;
			left: 50%;
			position: absolute;
			transform: translate(-50%,-50%);
			box-sizing: border-box;
			padding: 70px 30px;

		}
		h1{
			margin: 0;
			padding: 0 0 20px;
			text-align: center;
			font-size: 22px;
		}
	</style>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login-EazzyCard</title>
</head>
<body>
	<div class="login">
		<h1>Nupur</h1>
		  <form method="POST" action="">
		  {% csrf_token %}
		  <div class="form-group">
			<label for="username">Username</label>
			<input type="text" name="username" placeholder="Username..." class="form-control">
		  </div>
		  <div class="form-group">
			<label for="password">Password</label>
			<input type="password" name="password" placeholder="Password..." class="form-control" >
		  </div>
		  <button class="btn login_btn btn-success" type="submit" value="Login"style="width:100%" >Log In</button>
		  </form>
		  <br>
		  <form action="{% url 'register' %}">
			<button type="submit" class="btn btn-success" style="width:100%">Sign Up</button>
		</div>
	  </div>  
	  
	  <div class="alert alert-danger" role="alert">
		{% for message in messages %}
		  
		{% endfor %}	
	  </div>
</body>
</html>
