{% load static %}


<script src="{%static 'js/jquery.min.js'%}"></script>

<!-- Bootstrap Js 
==============================================================-->
<script src="{%static 'js/bootstrap.min.js'%}"></script>

<!-- Meanmenu Js 
==============================================================-->
<script src="{%static 'js/jquery.meanmenu.js'%}"></script>

<!-- Isotope Js 
==============================================================-->
<script src="{%static 'js/isotope.pkgd.min.js'%}"></script>

<!-- Steller Js 
==============================================================-->
<script src="{%static 'js/jquery.stellar.min.js'%}"></script>

<!-- Simple-sticker Js 
==============================================================-->
<script src="{%static 'js/jquery.simpleTicker.js'%}"></script>

<!-- Syotimer Js 
==============================================================-->
<script src="{%static 'js/jquery.syotimer.min.js'%}"></script>

<!-- Owl Carosel Js 
==============================================================-->
<script src="{%static 'js/owl.carousel.min.js'%}"></script>

<!-- Custom Js 
================================================================-->
<script src="{%static 'js/main.js'%}"></script>